.kdp-economia-section-area {
    padding-top: 95px;
    padding-bottom: 50px;
    .economia-image-area {
        text-align: center;
        margin-bottom: 40px;
        img {
            margin-bottom: 15px;
        }
        .kdp-economia-text {
            .economia-title {
                margin-bottom: 0;
            }
        }
    }
}
