// kid-form-section-area
.kid-events-section-area {
    padding-top: 120px;
    .form-title {
        background: #f8f8f8;
        padding: 15px 0 10px;
        border-radius: 8px;
        margin-bottom: 40px;
    }
    .form-box {
        border: 1px solid #c4c4c4;
        margin-bottom: 30px;
        padding: 15px 25px;
        border-radius: 8px;
    }
}
