// kid-gallery-section-area
.kid-gallery-section-area {
    .gallery-bottom {
        border-bottom: 1px solid #e7e7e7;
        padding-bottom: 80px;
        margin-bottom: 165px;
    }
    .kid-heading-area {
        margin-bottom: 42px;
        display: block;
    }
}
// kid-gallery-section-area
.kid-gallery-section-area2 {
    .gallery-bottom2 {
        border-bottom: 1px solid #e7e7e7;
        padding-bottom: 80px;
        margin-bottom: 455px;
    }
    .kid-heading-area {
        margin-bottom: 42px;
        display: block;
    }
}
