// kid-team-section-area
.kid-team-section-area {
    padding-bottom: 325px;
}
// kid-team-section-area
.kid-team-section-area2 {
    padding-bottom: 290px;
    .heading-area {
        margin-bottom: 80px;
    }
}
