@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
$bodyFont: "Mulish", sans-serif;
$titleFont: "Millik";
$othersFont: "Inter", sans-serif;
$subtitleFont: "Poppins", sans-serif;
$primaryColor: #7f56d9;
$secondaryColor: #f4ebff;
$bodyColor: #4d4d4d;
$whiteColor: #ffffff;
$titleColor: #000000;
$darkColor: #101621;
$thirdColor: #667085;
$darkerColor: #888888;
$greenColor: #70ef34;
$whiteColor0_8: rgba(255, 255, 255, 0.8);
